<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saldırı Oyunu</title>
    <script src="https://unpkg.com/vue@3.4.9/dist/vue.global.js" defer></script>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="">
</head>

<body>
    <header>
        <h1>Saldırı Oyunu</h1>
    </header>

    <div id="frontend">
        <div id="computer" class="container">
            <h2>Bilgisayar</h2>
            <div class="bar">
                <div class="barValue" :style="computerBarStyles"></div>
                <p class="percentage">{{computerHealth>0 ? computerHealth :0}}%</p>
            </div>
        </div>
        <div id="me" class="container">
            <h2>Meryem</h2>
            <div class="bar">
                <div class="barValue" :style="myBarStyles"></div>
                <p class="percentage">{{myHealth>0 ? myHealth :0}}%</p>
            </div>
        </div>
    <div class="container" v-if="winner">
        <h2>Oyun Bitti</h2>
        <h3 v-if="winner==='computer'">Bilgisayar Kazandı</h3>
        <h3 v-else-if="winner==='me'">Meryem Kazandı</h3>
        <h3 v-else="winner==='draw'">Berabere</h3>
        <button >Yeni Oyun</button>
    </div>
    <div id="controls" v-else>
        <button @click="attackToComputer()">Saldır</button>
        <button @click="specialAttack()" :disabled="possibleSpecialAttack">Süper Saldırı</button>
        <button @click="healMe()">Can Ver</button>
    </div>


</div>
    <script src="script.js" defer></script>
</body>
</html>