
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Js Temelleri</title>
    <script src="https://unpkg.com/vue@3.4.9/dist/vue.global.js" defer></script>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="">
</head>

<body>

    <header>
        <h1>--- Egzersiz 4 ---</h1>
    </header>
    <section id="frontend">
        <h2>Yapılacaklar Listesi</h2>
        <p>Bugün bir şey yapmayacak mısınız?</p>
        <div class="frontendForm">
        <input type="text" v-model="skill">
        <button  @click="addSkill()">Ekle</button>
        
        </div>
        <ul v-if="isVisible">
            <li v-for="(skill,index) in tasks" :key="index" @click="deleteSkill(index)">{{index + 1}}.{{skill}}</li>
        </ul>

        <button @click="toggleTasks()">{{isVisible ? 'Gizle':'Göster'}}</button>
    </section>

    <script src="script.js" defer></script>
</body>

</html>